VITE_API_URL=http://localhost:8000
VITE_APP_LOCALE=pl-PL

VITE_EVENTS_PER_PAGE=4
VITE_MAX_VISIBLE_EVENT_TOPICS=2
VITE_DEFAULT_EVENT_DURATION_MS=3600000
VITE_TOAST_DURATION_MS=2800

VITE_PROJECT_REPOSITORY_URL=https://github.com/KSIUJ/faculty-event-aggregator
VITE_GOOGLE_CALENDAR_EVENT_URL=https://calendar.google.com/calendar/render
VITE_OUTLOOK_CALENDAR_EVENT_URL=https://outlook.office.com/calendar/action/compose
VITE_CALENDAR_FEED_PATH=/events/calendar.ics
